.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-bottom: 3px;
  overflow-y: auto;
}

.main-content.with-header {
  padding-top: 140px;
}

.main-content.without-header {
  padding-top: 50px;
}

.main-content.without-header.category-page {
  padding-top: 90px;
}

@media (max-width: 768px) {
  .main-content.with-header {
    padding-top: 130px;
  }

  .main-content.without-header {
    padding-top: 50px;
  }
}

